[submodule "jan"]
	path = jan
	url = https://github.com/robotarmy/jan.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "janus"]
	path = janus
	url = https://github.com/carlhuda/janus.git
[submodule "dot_janus/vim-colors-solarized"]
	path = dot_janus/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
